<!--- 공지사항 작성 ---->
{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5 class="my-3 pb-2" style="font-family: 'nanumSquareB';" >공지사항 등록</h5>


    <form method="POST" class="post-form my-3">
        {{ form.csrf_token }}

        <div class="form-group">
            <input type="text" class="form-control form-css" name="title" id="title" value="{{ form.title.data or ''}}" placeholder="제목">

        </div>

        <div class="form-group">
            <textarea class="form-control form-css" name="content" id="content" rows="10" placeholder="내용">{{ form.content.data or '' }}</textarea>
        </div>

        <button type="submit" class="btn btn-color btn-right">저장하기</button>

    </form>
</div>

{% endblock %}