<!--- 시험업로드 > 시험지 보기 > 수정하기 >문항 수정하기 눌렀을 때 페이지 ---->
{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>alert("{{messages[-1]}}")</script>
{% endif %}
{% endwith %}

<div class="container">
  <h3 class="page_tag">시험문항 수정하기</h3>

  <form method = "POST" class="testForm" enctype= "multipart/form-data">
    <div class="square">
      '문항 추가하기' 버튼을 눌러 문항을 작성하세요. >>>
      <button type = "button" class="testAppend btn btn-color">문항 추가하기</button>
  </div>

    <div class="form-group testDiv">
      <ol class="testOl">  
        {% for test in Tests %}
        <li>
            <div class="testInputDiv">
                <textarea name = {{test.id}} id = {{test.id}} class = 'testInput'>{{test.content}}</textarea>
                <span class="testFile">
                  {% if test.img_name %}
                  <div>
                    ( 기존 파일 : {{test.img_name}} )
                  </div>
                  {% else %}
                  <div> ( 기존 파일 : 없음 ) </div>
                  {% endif %}
                  <input class="btn-upload" name='image' type='file'>
                </span>
                <button type="button" class="delBtn btn btn-color testDel" onclick=deleteTest(this)><i class="fas fa-trash-alt"></i></button>
            </div>
        </li>
        {% endfor %}
      </ol>

    </div>

    <input type="submit" class = "btn btn-color btn-right " value="시험지 저장하기">

  </form>
</div>


<script>
  let test_id_count = {{ test_id_count|safe }}+1;
</script>

<script>
    const testAppend = document.querySelector('.testAppend');
    const testForm = document.querySelector('.testForm');
    const testDiv = document.querySelector('.testDiv');
    const testOl = document.querySelector('.testOl')

    function deleteTest(obj) {
      if(obj.parentNode.parentNode.parentNode)
        obj.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode);
    }

    function newTest(event){
        const li = document.createElement("li");
        const testInputDiv = document.createElement("div")
        testInputDiv.className = "testInputDiv"

        const input = document.createElement("textarea");
        
        input.name = test_id_count;
        input.id = test_id_count;
        input.className = "testInput";

        const span = document.createElement("span");
        span.className = "testFile";

        // imageInput name 수정?
        const imageInput = document.createElement("input")
        imageInput.className = "btn-upload"
        imageInput.name = 'image'
        imageInput.type = 'file'

        span.append(imageInput);

        const delBtn = document.createElement("button");
        delBtn.innerHTML='<i class="fas fa-trash-alt"></i>';
        delBtn.type="button";
        delBtn.onclick = function(){
          deleteTest(this);return false;
        };

        delBtn.className = "delBtn btn btn-color testDel";

        testInputDiv.append(input);
        testInputDiv.append(span);
        testInputDiv.append(delBtn);

        li.appendChild(testInputDiv);
        
        testOl.appendChild(li);
        test_id_count +=1;
    }


    function init() {
      testAppend.addEventListener('click', newTest);
      //const select = document.querySelector('')
      //const select = document.querySelector('delBtn');
      //select.addEventListener('click', deleteTest);
    }

    init();

</script>

{% endblock %}