<!--- 시험업로드 > 시험지 보기 > 수정하기 >문항 수정하기 눌렀을 때 페이지 ---->
{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>alert("{{messages[-1]}}")</script>
{% endif %}
{% endwith %}

<div class="container">
  <h5 class="my-3 pb-2">시험문항 수정하기</h5>

  <form method = "POST" class="testForm" enctype= "multipart/form-data">
    <p><input class = "btn btn-color" name='file' type='file'> (새로운 이미지 파일을 올리는 경우, 기존의 이미지 파일은 삭제됩니다.)
    </p>

    <p><img src="data:;base64,{{ image }}"/>
    </p>

    <button type = "button" class="testAppend btn btn-color">문항 추가하기</button>

    <input type="submit" class = "btn btn-color " value="저장하기">

    <div class="form-group testDiv">
      <ol class="testOl">  
        {% for test in Tests %}
        
        <li>

          <textarea name = {{test.id}} id = {{test.id}} class = 'testInput'  style="width: 700px; margin-top:10px; margin-left:10px;" rows="1">{{test.content}}</textarea> 

        
        <button type="button" class="delBtn btn btn-color del-css" onclick=deleteTest(this)>삭제</button>
        </li>
        {% endfor %}
      </ol>

    </div>


  </form>
</div>


<script>
  let test_id_count = {{ test_id_count|safe }}+1;
</script>

<script>
    const testAppend = document.querySelector('.testAppend');
    const testForm = document.querySelector('.testForm');
    const testDiv = document.querySelector('.testDiv');
    const testOl = document.querySelector('.testOl')

    function deleteTest(obj) {
      if(obj.parentNode.parentNode)
        obj.parentNode.parentNode.removeChild(obj.parentNode);
    }

    function newTest(event){
        const li = document.createElement("li");
        const input = document.createElement("input");
        
        input.name = test_id_count;
        input.id = test_id_count;
        input.className = "testInput form-css";
        input.type="text";
        input.style="width: 700px";

        const delBtn = document.createElement("button");
        delBtn.innerText='삭제';
        delBtn.type="button";
        delBtn.onclick = function(){
          deleteTest(this);return false;
        };

        delBtn.className = "delBtn btn btn-color del-css";

        li.appendChild(input);
        li.appendChild(delBtn);
        
        testOl.appendChild(li);
        test_id_count +=1;

    }


    function init() {
      testAppend.addEventListener('click', newTest);
      //const select = document.querySelector('')
      //const select = document.querySelector('delBtn');
      //select.addEventListener('click', deleteTest);
    }

    init();

</script>

{% endblock %}