{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>alert("{{messages[-1]}}")</script>
{% endif %}
{% endwith %}

<div class='container'>
    <div class="row mt-5">
        <div class="cpl-12">
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <table cellpadding="10px" class="join_table">
                        <tbody>
                            <tr>
                                <td  style="text-align:center;">
                                    <h2 style="font-family: 'nanumSquareB';font-size:xx-large">LOGIN</h2>
                                </td>
                            </tr>
                            <tr>
                                <td >{{ form.userid(class="form-control", placeholder="아이디") }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password(class="form-control form-input", placeholder="비밀번호") }}</td>
                            </tr>
                            <tr >
                                <td colspan="2">
                                    <button type="submit" class="btn btn-color" style="width:100%;">로그인</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="{{ url_for('auth.signup') }}" class="btn btn-color" style="width:100%;"> 회원가입 </a>
                                </td>
                            </tr>

                        </tbody>

                    </table>


                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}


